/pyheadspace/__pycache__
/headspace_dl.egg-info
/debug.log
/dist
/build
/bearer_id.txt
/pyheadspace/bearer_id.txt
/pyheadspace/debug.log
/test.py

/pyheadspace/group_ids.py
/pyheadspace.egg-info

/pyheadspace/test.html
/venv/
.idea
/.vscode/launch.json
/headDownload.cmd
